.display{
    width: 100%;
    height: 50%;
    background-color: rgb(240, 30, 30);
    background-image: url('https://t4.ftcdn.net/jpg/05/07/99/69/240_F_507996990_57tIUJXq79Afp3HL8eS2Eje4zNFg2ed7.jpg');
    background-position: center;
    background-size: cover;
}



